<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"className":"cm-site-layout","layout":{"type":"default"}} -->
<div class="wp-block-group cm-site-layout">

<!-- wp:group {"tagName":"main","className":"cm-tool-single cm-site-main","layout":{"type":"default"}} -->
<main class="wp-block-group cm-tool-single cm-site-main">

	<!-- wp:group {"className":"cm-tool-single__grid cm-grid","layout":{"type":"default"}} -->
	<div class="wp-block-group cm-tool-single__grid cm-grid">

		<!-- wp:group {"className":"cm-span-8 cm-tool-single__primary","layout":{"type":"default"}} -->
		<div class="wp-block-group cm-span-8 cm-tool-single__primary">

			<!-- wp:post-terms {"term":"tool_category","className":"cm-eyebrow"} /-->
			<!-- wp:post-title {"level":1,"className":"cm-tool-single__title"} /-->
			<!-- wp:post-excerpt {"className":"cm-tool-single__excerpt"} /-->
			<!-- wp:post-featured-image {"className":"cm-tool-single__image"} /-->

			<!-- wp:post-content {"className":"cm-tool-single__content","layout":{"type":"constrained"}} /-->


		</div>
		<!-- /wp:group -->


	</div>
	<!-- /wp:group -->


	<!-- wp:shortcode -->[calymyk_related_tools]<!-- /wp:shortcode -->

</main>
<!-- /wp:group -->

<!-- /wp:group -->

<!-- wp:template-part {"slug":"sidebar"} /-->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->