<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"className":"cm-site-layout","layout":{"type":"default"}} -->
<div class="wp-block-group cm-site-layout">

<!-- wp:group {"tagName":"main","className":"cm-single cm-site-main","layout":{"type":"default"}} -->
<main class="wp-block-group cm-single cm-site-main">

	<!-- wp:group {"className":"cm-single__grid cm-grid","layout":{"type":"default"}} -->
	<div class="wp-block-group cm-single__grid cm-grid">

		<!-- wp:group {"className":"cm-span-8 cm-single__primary","layout":{"type":"default"}} -->
		<div class="wp-block-group cm-span-8 cm-single__primary">

			<!-- wp:group {"className":"cm-single__header","layout":{"type":"default"}} -->
			<div class="wp-block-group cm-single__header">
				<!-- wp:shortcode -->[calymyk_breadcrumbs]<!-- /wp:shortcode -->
				<!-- wp:post-title {"level":1,"className":"cm-single__title"} /-->

				<!-- wp:group {"className":"cm-single__meta","layout":{"type":"flex","flexWrap":"wrap","verticalAlignment":"center"}} -->
				<div class="wp-block-group cm-single__meta">
					<!-- wp:post-author {"showAvatar":false,"showBio":false} /-->
					<!-- wp:post-date {"isLink":false} /-->
				</div>
				<!-- /wp:group -->

				<!-- wp:post-featured-image {"className":"cm-single__image"} /-->

			<!-- wp:shortcode -->[calymyk_promotion_meta_row]<!-- /wp:shortcode -->
			</div>
			<!-- /wp:group -->

			<!-- wp:post-content {"className":"cm-single__content","layout":{"type":"constrained"}} /-->


		</div>
		<!-- /wp:group -->


	</div>
	<!-- /wp:group -->

	<!-- wp:shortcode -->[calymyk_related_posts]<!-- /wp:shortcode -->

</main>
<!-- /wp:group -->

<!-- /wp:group -->

<!-- wp:template-part {"slug":"sidebar"} /-->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->